// Banner
.banner {
  background: $magenta url(../img/bg-image.png) repeat;
  background-size: 100%;
  color: $white;
  background-color: $magenta;
  padding: 84px 60px 0 60px;

  .flex-row{
      justify-content: space-between;
      align-items: flex-start;
  }
  .flex-row,
  .banner-countdown,
  .banner-buttons{
      max-width: 1168px;
      margin: auto;
  }
  .banner-countdown{
      margin: 50px auto;
  }
}

.banner-hashtag{
    color: $green;
    font-size: 20px;
}

.banner-header {
    $size: 120px;
    color: $black;
    font-size: $size;
    line-height: $size * 0.9;
    font-weight: 600;
}

.banner-subheader {
  font-weight: 500;
  font-size: 27px;
  color: $white;
}

.banner-buttons {
    text-align: center;
  .button {
    background: $green;
    color: $black;
    display: inline-block;
    font-size: 24px;
    padding: 20px 100px;
    border-radius: 0;
  }
}


.banner-countdown {
	text-align: center;
    padding: 0;
    list-style: none;
}

.banner-countdown li {
	display: inline-block;
    margin: 0 2%;
}

.banner-countdown li span {
	font-size: 72px;
    font-weight: 600;
	color: $green;
}

.banner-countdown li p {
	color: $green;
	font-size: 20px;
    font-weight: 600;
}

.carousel-indicators > li {
  border: 2px solid #fd3267 !important;
}

.carousel-indicators > li.active {
  background-color: #fd3267 !important;
}

@media only screen and (max-width : 1140px){
    .banner{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .banner-header{
        $size: 10vw;
        font-size: $size;
        line-height: $size * 0.9;
    }
    .banner-logo img{
        width: 30vw;
    }
    .banner-hashtag{
        $size: 2vw;
        font-size: $size;
        line-height: $size * 1.2;
    }
    .banner-subheader{
        $size: 2.6vw;
        font-size: $size;
        line-height: $size * 1.2;
    }
    .banner-countdown li span{
        $size: 7vw;
        font-size: $size;
        line-height: $size * 1.2;
    }
    .banner-countdown li p{
        $size: 2vw;
        font-size: $size;
        line-height: $size * 1.2;
    }
    .banner-buttons .button{
        $size: 3vw;
        font-size: $size;
        line-height: $size * 1.2;
        padding-left: $size * 2;
        padding-right: $size * 2;
    }
}