// Sponsors
.event-sponsor-list {
  list-style: none;
  margin: 0;
  padding: 2em 0;
  li {
    display: inline-block;
    margin: 40px;
  }
}

.sponsor {
  height: 40px;
  width: 160px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 20px;
  @include breakpoint(l) {
    margin-bottom: 0;
  }
}
.sponsor-telsome {
  width: 100px;
  background-image: url(../img/logos/telsome.png);
}
.sponsor-10labs {
  background-image: url(../img/logos/10labs.png);
}
.sponsor-shuttlecloud {
  background-image: url(../img/logos/shuttlecloud.png);
}
.sponsor-centraldereservas {
  background-image: url(../img/logos/centraldereservas.png);
}
.sponsor-cuentica {
  background-image: url(../img/logos/cuentica.png);
}
.sponsor-semmantica {
  background-image: url(../img/logos/semmantica.png);
}
.sponsor-540deg {
  width: 100px;
  background-image: url(../img/logos/540deg.png);
}
.sponsor-ticketea {
  background-image: url(../img/logos/ticketea.png);
}
.sponsor-etopia {
  width: 107px;
  background-image: url(../img/logos/etopia.png);
}
.sponsor-ayuntamiento {
  background-image: url(../img/logos/ayuntamiento.png);
}
.sponsor-ambar {
  width: 190px;
  background-image: url(../img/logos/ambar2.png);
}
.sponsor-autentia {
  width: 145px;
  background-image: url(../img/logos/autentia.png);
}
.sponsor-carto {
  width: 102px;
  background-image: url(../img/logos/carto.png);
}
.sponsor-torresburriel {
  width: 118px;
  background-image: url(../img/logos/torresburriel.png);
}
.sponsor-deiser {
  width: 143px;
  background-image: url(../img/logos/deiser.png);
}

@media (max-width: 480px) {
  .event-sponsor-list li {
    display: block;
  }
  .sponsor {
    width: 100%;
  }
}
