---
layout: default
title: Startup Open Space Zaragoza 2018 - #sosz18
---

<div class="introduction-block section">
    <div class="section-wrapper">
        <div class="col col-half">
            <h2>¿Qué es el #sosz18?</h2>
            <h3>
                Por 5to año consecutivo, Cachirulo Valley organiza el evento Start-up más gambitero del continente.
            </h3>
            <p>
                Para aprender y compartir con empresas reales como la tuya, experiencias, dudas, ideas o consejos. El mejor espacio para conocer gente que está construyendo o piensa construir un negocio novedoso y escalable ;-)
            </p>
        </div>
        <div class="col col-half">
            <h2>¿Qué es un Open Space?</h2>
            <h3>Si nunca has estado en un Open Space, no te preocupes…</h3>
            <p>Un Open Space es un formato de des-conferencia en el que la agenda no está predefinida. Los propios asistentes proponen temas, y entre todos se votan los que se tratarán en las sesiones. No se trata de ponencias, sino de coloquios en los que
                se fomenta el debate y la participación. El proponente es el “facilitador” que conducirá la sesión.</p>
        </div>
    </div>
</div><!-- / introduction-block -->


<div class="schedule-block section">
    <div class="pad-top-60 pad-bottom-60 container" id="schedule">
      <div class="clear pad-top-20 pad-bottom-20">

        <div class="col-12-l">
          <div class="text-center pad-top-20">
            <h2 class="uppercase pad-bottom-30">Horarios Aproximados</h2>
          </div>
          <div class="tabs tabs-secondary">
            <div class="tab-content tab-content-secondary">

              <div class="tab-pane active" id="event-group-1">
                <div class="panel-group" id="event-1">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="event-schedule-title">
                          <span class="event-schedule-time">09:30 - 10:00</span>
                          <span class="event-schedule-name">Check-in y desayuno</span>
                        </a>
                      </h4>
                    </div>
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="event-schedule-title collapsed">
                          <span class="event-schedule-time">10:00 - 11:00</span>
                          <span class="event-schedule-name">Creación de la agenda</span>
                        </a>
                      </h4>
                    </div>
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="event-schedule-title collapsed">
                          <span class="event-schedule-time">11:00 - 14:00</span>
                          <span class="event-schedule-name">3 sesiones de 40 min</span>
                        </a>
                      </h4>
                    </div>
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="event-schedule-title collapsed">
                          <span class="event-schedule-time">14:00 - 15:00</span>
                          <span class="event-schedule-name">Comida</span>
                        </a>
                      </h4>
                    </div>
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="event-schedule-title collapsed">
                          <span class="event-schedule-time">15:00 - 18:00</span>
                          <span class="event-schedule-name">3 sesiones de 40 min</span>
                        </a>
                      </h4>
                    </div>
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="event-schedule-title collapsed">
                          <span class="event-schedule-time">18:00 - 18:30</span>
                          <span class="event-schedule-name">Cierre del evento</span>
                        </a>
                      </h4>
                    </div>
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="event-schedule-title collapsed">
                          <span class="event-schedule-time">18:30 - 20:00</span>
                          <span class="event-schedule-name">Beerworking</span>
                        </a>
                      </h4>
                    </div>
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="event-schedule-title collapsed">
                          <span class="event-schedule-time">21:30 - 01:00</span>
                          <span class="event-schedule-name">Cena en La Jamonería</span>
                        </a>
                      </h4>
                      <div class="panel-collapse collapse in">
                        <div class="panel-body">
                          Sólo para los asistentes con entrada + cena, o acompañantes con entrada de sólo cena.
                          <br/><br/>
                          Dirección: <a class="sosz18color" target="blank" href="https://www.google.es/maps/place/RESTAURANTE+LA+JAMONER%C3%8DA+Restaurante/@41.638772,-0.8961175,17z/data=!3m1!4b1!4m5!3m4!1s0xd5914d861091953:0x56dc3219efc9b0e1!8m2!3d41.638768!4d-0.8939288">Calle Bruno Solano 16</a>
                        </div>
                      </div>
                    </div>
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="event-schedule-title collapsed">
                          <span class="event-schedule-time">01:00 - ¿¿??</span>
                          <span class="event-schedule-name">Copas post-cena</span>
                        </a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div><!-- / schedule-block -->

<div class="promotional-block section">
    <header class="section-header">
        <h2>En capítulos anteriores…</h2>
    </header>

    <div class="section-wrapper">
        <div class="col col-half col-pictured">
            <img src="/img/space-girl.jpg" alt="Space Girl">
        </div>

        <div class="col col-half">
            <h3>El mejor ambiente</h3>
            <h4>  El Startup Open Space es un evento totalmente horizontal, en el que se respira un ambiente de colaboración y debate constante.</h4>
            <p>  ¿Financiación? ¿Inversiones? ¿Conciliación? ¿Equipos? ¿Producto? ¿Analítica? Hablamos de cualquier tipo de cuestión que afecte en el día a día de una startup y el contexto que le rodea.</p>
            <p>  Sin esperar clases magistrales, siempre desde el espíritu de compartir conocimiento y experiencias reales.</p>
            <a href="https://www.flickr.com/photos/cachirulovalley/sets/72157641478772945" target="_blank" class="button">Galería Flickr 2014</a>
            <a href="https://www.flickr.com/photos/cachirulovalley/sets/72157651743082439" target="_blank" class="button">Galería Flickr 2015</a>
            <a href="https://photos.google.com/share/AF1QipOszCwyXVAjoGiY4a4ocTA-IUL8tuoDowFj_0aF2wvdG8XamL6nUAQjL9La5yA9WQ?key=d2k2eF9lakdlaDRoRVA1OW1DSm91cHpGU3RUbU53" target="_blank" class="button">Galería Google Photos 2016</a>
        </div>

    </div>
</div><!-- / promotional-block -->



<div class="event-sponsors-block section" id="sponsors">
    <header class="header-section">
        <h2>Patrocinan</h2>
    </header>
    <ul class="event-sponsor-list">
        <li class="list-item">
            <a href="http://10labs.es/" class="sponsor sponsor-10labs">
                <span>10labs</span>
            </a>
        </li>
        <li class="list-item">
            <a href="https://cuentica.com/" class="sponsor sponsor-cuentica">
                <span>Cuentica</span>
            </a>
        </li>
        <li class="list-item">
            <a href="https://www.deiser.com/" class="sponsor sponsor-deiser">
                <span>Deiser</span>
            </a>
        </li>
        <li class="list-item">
            <a href="http://www.localistico.com/" class="sponsor sponsor-localistico">
              <span>Localistico</span>
            </a>
        </li>
        <li class="list-item">
          <a href="http://www.millolab.com/" class="sponsor sponsor-millolab">
            <span>Millo Lab</span>
          </a>
        </li>
        <li class="list-item">
          <a href="http://www.strsistemas.com/" class="sponsor sponsor-str">
            <span>STR</span>
          </a>
        </li>
        <li class="list-item">
            <a href="http://www.semmantica.com/herramientas/" class="sponsor sponsor-semmantica">
                <span>Semmantica Labs</span>
            </a>
        </li>
        <li class="list-item">
            <a href="https://www.telsome.es/es/" class="sponsor sponsor-telsome">
                <span>Telsome</span>
            </a>
        </li>
        <li class="list-item">
            <a href="https://www.ticketea.com/" class="sponsor sponsor-ticketea">
                <span>Ticketea</span>
            </a>
        </li>
        <li class="list-item">
            <a href="http://www.torresburriel.com/" class="sponsor sponsor-torresburriel">
                <span>Torres Burriel</span>
            </a>
        </li>
    </ul>
    <p>Contacta con <a class="sosz18color" href="https://twitter.com/cachirulovalley">@cachirulovalley</a> si quieres patrocinar este evento</p>
</div><!-- / event-sponsors-block -->

<div class="event-sponsors-block section">
    <header class="header-section">
        <h2>Colaboran</h2>
    </header>
    <ul class="event-sponsor-list">
        <li class="list-item">
            <a href="http://www.zaragoza.es/ciudad/etopia/" class="sponsor sponsor-etopia">
                <span>Etopia</span>
            </a>
        </li>
        <li class="list-item">
            <a href="http://www.zaragoza.es/" class="sponsor sponsor-ayuntamiento">
                <span>Ayuntamiento de Zaragoza</span>
            </a>
        </li>
    </ul>
</div><!-- / event-sponsors-block -->



<div class="event-location-block section" id="location">
    <div id="map" class="map">
        <div class="location-box-container">
            <div class="location-box pad-20">
                <h2 class="fs-6 strong">ETOPIA Centro de Arte y Tecnología</h2>
                <address class="location">
                    Av. de la Ciudad de Soria, 8 <br>
                    (50003) Zaragoza
                </address>
                <span class="block text-right">
                    <a class="uppercase sosz18color" href="https://www.google.es/maps/place/ETOPIA+Centro+de+Arte+y+Tecnolog%C3%ADa/@41.6590242,-0.9090006,17z/data=!3m1!4b1!4m5!3m4!1s0xd596b4aded0f4d1:0x12f8c30f1a51a61f!8m2!3d41.6590242!4d-0.9068119?hl=es" target="_blank">Cómo llegar</a>
                </span>
            </div>
        </div>

        <div id="google-map" class="google-map"></div>
    </div><!-- / map -->
</div><!-- / event-location-block -->



<div class="faqs-block section" id="faq">
  <header class="header-section">
      <h2>Preguntas frecuentes</h2>
  </header>

  <h3>¿No conoces el formato Open Space?</h3>
  <p>Un <a class="sosz18color" href="http://cachirulovalley.com/index.php/2014/01/que-es-un-open-space/">Open Space</a> es un formato de des-conferencia en el que la agenda no está predefinida. Los propios asistentes proponen temas, y entre todos se votan los que se tratarán en las sesiones. No se trata de ponencias, sino de coloquios en los que se fomenta el debate y la participación. El proponente es el “facilitador” que conducirá la sesión.</p>

  <h3>Quiero la factura ¿a quién se la pido?</h3>
  <p>Si quieres una factura del SOSZ18 y no la has pedido todavía, accede a tu cuenta de Ticketea y en el apartado <a class="sosz18color" href="https://www.ticketea.com/users/me/orders/">Mis entradas</a> selecciona la opción de "factura". Te pedirá que rellenes tus datos de facturación, nos llegará a nosotros y con mucho gusto la emitiremos y te la enviaremos por email en unos días.</p>

  <h3>¿Hay descuento de Renfe?</h3>
  <p>Sí, te lo mandaremos por email si al comprar la entrada marcas que necesitas ese descuento.</p>

  <h3>Precios de entradas: Entrada simple o con cena</h3>
  <p>
        Hace 3 años introdujimos la novedad de la opción de cena tras el evento, y como fue ha sido <b>éxito en todas las ediciones</b> repetimos de nuevo esta posibilidad en <a class="sosz18color" href="http://www.lajamoneria.es/">La Jamonería</a>.
        <br>
        Tras un evento así siempre se quedan cosas en el tintero, y sabemos que en un entorno totalmente distendido siguen surgiendo conversaciones en pequeños corros y en un tono todavía aún más relajado que durante el Open Space.
        <br>
        Así que tú eliges: comprar tu entrada simple o con cena :)
    </p>
</div>


<div class="speakers-block pad-top-60 pad-bottom-60 container" id="members">
  <div class="text-center pad-top-20">
    <h2 class="h2 uppercase sosz18color">¿Quién viene?</h2>
    <p class="fs-4">
      Vamos a ir actualizando la lista de asistentes para que vayas conociendo al resto de personas del evento
    </p>
  </div>

  <ul class="event-speakers clear">
    {% assign randomized_members = site.data.members | sample:site.data.members.size %}
    {% for member in randomized_members %}
    <li class="col-6-m col-3-l">
      <div class="col-12-m no-float">
        {% if member.Twitter %}
          <a class="event-speaker" href="https://twitter.com/{{member.Twitter}}">
            <img width="100%" class="block" src="https://twitter.com/{{member.Twitter}}/profile_image?size=bigger" alt="{{ member.Nombre }}">
          </a>
        {% else %}
        <a class="event-speaker" href="#">
          <img width="100%" class="block" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="{{ member.Nombre }}">
        </a>
        {% endif %}
        <h3 class="fs-4 pad-top-20">{{ member.Nombre }}</h3>
        <p><a href="https://twitter.com/{{member.Twitter}}" target="blank">{{member.Twitter}}</a></p>
        <p class="uppercase">
          {{ member.Startup }}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

    <div class="footer-top-block section">
        <div class="section-wrapper">
            <div class="col col-half">
                <h3>Propón sesiones</h3>
                <p class="footer-text">Si tienes una idea o inquietud para una sesión puedes proponerla desde ya en el Slack del evento y recibir feedback. Visita <a class="footer-link" href="https://soszslack.herokuapp.com/">sosz18 en Slack</a>.</p>
                <p><a class="footer-link" href="https://twitter.com/cachirulovalley">@cachirulovalley</a></p>
                <p><a class="footer-link" href="https://twitter.com/search?f=tweets&vertical=default&q=sosz18">#sosz18 en Twitter</a></p>
            </div>

            <div class="col col-half">
                <img src="/img/capsull.jpg" alt="Capsull">
            </div>

        </div>
    </div><!-- / footer-top-block -->

    <div class="footer-copyright-block">
        <p>Cachirulo Valley</p>
    </div><!-- / footer-copyright-block -->



<script src="js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/vendor/jquery.downCount.js"></script>
<script src="js/vendor/webfontloader.js"></script>

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="js/default.js"></script>


</body>
</html>
