<div class="banner">

    <div class="flex-row banner-top">
        <div class="column-left">
            <h4 class="banner-hashtag">
                @cachirulovalley <br>
                #sosz18 en Twitter
            </h4>
            <h1 class="banner-header">
                Startup<br>OpenSpace<br>Zaragoza
            </h1>
            <h2 class="banner-subheader">
                <strong>17 de Marzo</strong><br>
                eTopia - Centro de Arte y Tecnología
            </h2>
        </div>
        <div class="column-right">
            <h2 class="banner-logo">
                <img src="/img/logo-sosz-18.svg" alt="SOSZ 18">
            </h2>
        </div>
    </div><!-- / banner-top -->

    <ul class="banner-countdown">
        <li><span class="days"></span><p class="days_ref">días</p></li>
        <li><span class="hours"></span><p class="hours_ref">horas</p></li>
        <li><span class="minutes"></span><p class="minutes_ref">minutos</p></li>
        <li><span class="seconds"></span><p class="seconds_ref">segundos</p></li>
    </ul><!-- / banner-countdown -->

    <div class="banner-buttons">
        <a class="button" href="https://www.ticketea.com/entradas-congreso-startup-open-space-zaragoza-2018-sos18/">Compra ya tu entrada!</a>
    </div><!-- / banner-buttons -->

</div><!-- / banner -->
