<div class="banner">
  <h1 class="banner-header">Startup Open Space Zaragoza 2018</h1>
  <h2 class="banner-subheader">17 de Marzo</h2>
  <ul class="banner-countdown">
    <li><span class="days"></span><p class="days_ref">días</p></li>
    <li><span class="hours"></span><p class="hours_ref">horas</p></li>
    <li><span class="minutes"></span><p class="minutes_ref">minutos</p></li>
    <li><span class="seconds"></span><p class="seconds_ref">segundos</p></li>
  </ul>
  <div class="banner-buttons">
    <a class="button" href="https://www.ticketea.com/entradas-congreso-startup-open-space-zaragoza-2018-sos18/">Compra ya tu entrada!</a>
  </div>
</div>
